@using IsTakip.Core.Classes.KullaniciClasses;
@model IEnumerable<Kullanici>

@if (ViewBag.Error is null)
{
    <table class="table table-striped table-borderless table-hover">
        <thead>
            <tr>
                <th>Adı Soyadı</th>
                <th>Kodu</th>
                <th>Rol Tanım</th>
                <th>İşlem</th>
            </tr>
        </thead>
        <tbody>


            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Ad @item.Soyad</td>
                    <td>@item.KullaniciKodu</td>
                    <td>@item.RolTanim</td>
                    <td>
                        <a asp-action="Edit" class="btn btn-sm btn-primary w-25">Düzenle</a>
                        <a asp-action="Delete" class="btn btn-sm btn-danger w-25">Sil</a>
                    </td>
                </tr>
            }
           
        </tbody>
    </table>
}else{
    <tr>
        <td><p class="text-center text-danger">@ViewBag.Error</p></td>
    </tr>
}