@using IsTakip.Core.Classes.KullaniciClasses;
@using IsTakip.Core.DTOs.KullaniciDTOs;
@model IEnumerable<KullaniciCreateDto>


<div class="g-sidenav-show  bg-gray-100 mx-3">
    <div class="text-center">
        <a asp-action="Create" class="btn btn-slack text-white font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
            Kullanıcı Ekle
        </a>
    </div>
    
    @if (ViewBag.Error is null)
    {
        <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                    <thead>
                        <tr>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Adı Soyadı</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Kullanıcı Adı</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Rol Tanım</th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Olusturulma Tarihi</th>
                            <th class="text-secondary opacity-7"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <div class="d-flex px-2 py-1">
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm">@item.Ad @item.Soyad</h6>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <p class="text-xs font-weight-bold mb-0">@item.KullaniciKodu</p>
                                </td>
                                <td class="align-middle text-center text-sm">
                                    <span class="badge badge-sm bg-gradient-success">@item.RolTanim</span>
                                </td>
                                <td class="align-middle text-center">
                                    <span class="text-secondary text-xs font-weight-bold">@item.OlusturmaTarihi.ToShortDateString()</span>
                                </td>
                                <td class="align-middle">
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-dark text-white font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                        Düzenle
                                    </a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-reddit text-white font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Delete user">
                                        Sil
                                    </a>
                                    
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <h3 class="text-center">@ViewBag.Error</h3>
    }
</div>